.container {
    background: #fbfbfb;
}

.content {
    min-height: 100vh;
    margin: 0 auto;
    padding: 8rem 0;
}

.date,
.tags,
.title {
    display: block;
    width: 55%;
    min-width: 80rem;
    margin: 0 auto 3rem;
}

.title {
    font-size: 5rem;
    line-height: 1.2;
}

.date {
    margin: 6rem auto 2rem;
    font-size: 1.2rem;
    color: #444;
}

.tags {
    display: flex;
	flex-wrap: wrap;
}

.tag {
    margin-right: 0.5rem;
	padding: 0.3rem .4rem;
	color: #007bff;
    background: rgb(240, 240, 240);
    border-radius: 0.5rem;
    transition: 0.3s ease-in-out;
}

.tag:hover {
    background: rgb(223, 223, 223);
}

@media (max-width: 1000px) {
    .date,
    .input {
        width: 90%;
        min-width: unset;
    }
}
