.modal {
    position: relative;
    width: 100%;
    max-width: 40rem;
    padding: 3rem;
    border-radius: 1rem;
    background: #fff;
    text-align: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    padding: 1rem 1.3rem;
    background: none;
    border: none;
    font-size: 1.6rem;
}

.modal h4 {
    font-size: 2rem;
    font-weight: 600;
    color: #f5514b;
}

.modal img {
    display: block;
    width: 7rem;
    margin: 0 auto 2rem;
}

.modal p {
    margin-top: 1rem;
    font-size: 1.4rem;
}
