.title {
    margin-top: 4rem;
    font-size: 2rem;
}

.input {
    display: block;
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    font-size: 1.4rem;
    background: none;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background: #efefef;
    transition: 0.3s ease-in-out;
}

.link {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #17a2b8;
}

.link:hover,
.link:focus {
    text-decoration: underline;
}

.input:hover,
.input:focus {
    background: #dedede;
}

.wrp {
    position: relative;
}

.show {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 5;
    height: 100%;
    width: 4rem;
    transform: translateY(-50%);
    background: none;
    border: none;
}

@media (max-width: 900px) {
    .title {
        margin-top: 0;
    }
}
