.aside {
    position: relative;
    max-width: 30rem;
    min-width: 30rem;
}

.inner {
    position: sticky;
    top: 2rem;
    left: 0;
    width: 100%;
    padding: 2rem 3rem 7rem 0;
}

@media (max-width: 900px) {
    .aside {
        margin: 0 auto;
        max-width: 30rem;
        min-width: 30rem;
        text-align: center;
    }

    .inner {
        padding-right: 0;
    }

    .inner {
        height: 100%;
        padding: 3rem 0;
    }
}

@media (max-width: 768px) {
    .inner {
        padding-top: 0;
    }
}

@media (max-width: 550px) {
    .aside {
        max-width: 100%;
        min-width: 100%;
    }
}
