.container {
    width: 50%;
    min-width: 80rem;
    margin: 1rem auto;
    border-radius: var(--radius);
    font-size: 1.6rem;
}

.list {
    display: flex;
    margin-left: -5rem;
    width: auto;
}

.column {
    padding-left: 5rem;
    background-clip: padding-box;
}

.wrp {
    list-style: none;
    margin-bottom: 5rem;
    transition: 0.3s ease-in-out;
    border-radius: var(--radius);
}

@keyframes loader {
    0% {
        background-color: var(--gray-01);
    }

    50% {
        background-color: var(--gray-02);
    }
}

/* === content === */
.text span {
    display: block;
    width: 100%;
    height: 1.5rem;
    margin: 1rem 0;
    border-radius: var(--radius);
    background-color: var(--gray-01);
    animation: loader 2s ease-in-out infinite;
}

.text span:nth-of-type(3) {
    width: 45%;
}

.user {
    display: flex;
    margin: 2rem 0;
}

.user .text {
    width: 25%;
}

.avatar {
    height: 6rem;
    width: 6rem;
    margin-right: 2rem;
    border-radius: 50%;
    background-color: var(--gray-01);
    animation: loader 2s ease-in-out infinite;
}

/* media rules */
@media (max-width: 1300px) {
    .wrp {
        margin-left: -3rem;
    }

    .column {
        padding-left: 3rem;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
        min-width: unset;
    }
}

@media (max-width: 900px) {
    .wrp {
        margin-bottom: 2rem;
    }
}

@media (max-width: 580px) {
    .wrp {
        margin-bottom: 5rem;
    }
}
