.list {
  columns: 2;
  column-gap: 50px;
}

.card {
  break-inside: avoid;
  background-color: #ffffff;
  margin-bottom: 50px;
  transition: 0.3s ease-in-out;
}

.postLink:hover .title {
  text-decoration: underline;
  color: #646464;
}

.inner {
  padding: 30px;
}

.inner:nth-of-type(1) {
  padding-bottom: 0;
}

/* === content === */
.img {
  height: 350px;
  object-fit: cover;
}

.title {
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.text {
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 1rem;
}

.tag {
  font-size: 1.2rem;
  margin-right: 8px;
  color: #3273dc;
}

.tag:hover {
  color: inherit;
}

.date {
  margin-top: 20px;
  font-style: italic;
  color: #646464;
}

/* === user === */
.user {
  display: flex;
  align-items: center;
}

.userInfo {
  display: block;
}

.name {
  margin-bottom: 6px;
}

.nick {
  color: #3273dc;
}

.name:hover,
.nick:hover {
  text-decoration: underline;
}

.avatar {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04), 0 3px 6px rgba(0, 0, 0, 0.08);
}

/* media rules */
@media (max-width: 1340px) {
  .list {
    columns: unset;
    column-gap: unset;
  }
}
