.container {
    width: 50%;
    min-width: 80rem;
    margin: 4rem auto 3rem;
}

.item {
    margin: 2rem 0 6rem;
}

.text {
    padding-top: 1rem;
}

.img {
    display: block;
    width: 15rem;
    border-radius: 0.5rem;
}

.imgBtn {
    position: relative;
    margin-top: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.imgBtn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.imgBtn:hover::before {
    opacity: 1;
}

.likes {
    display: flex;
    align-items: center;
}

.link {
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    background: none;
    border: none;
    font-size: 1.4rem;
    color: #3273dc;
}

.link:hover {
    text-decoration: underline;
}

.date {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    color: #999;
    margin: 1rem 0;
}

.text {
    font-size: 1.6rem;
}

.subList {
    margin-top: 2rem;
}

.subList .item {
    margin: 1rem 0;
    padding: 1rem 2rem;
    position: relative;
    transition: 0.3s ease-in-out;
}

.subList .item:hover {
    background: #efefef;
}


.subList .item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
    width: 0.2rem;
    background-color: rgb(236, 236, 236);
}

.subList .text {
    font-size: 1.6rem;
}

.title {
    font-size: 2.5rem;
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
        min-width: unset;
    }
}

@media (max-width: 650px) {
    .text {
        padding-top: 2rem;
        padding-left: 1rem;
    }

    .date,
    .subList,
    .likes {
        padding-left: 1rem;
    }

    .imgBtn {
        margin-left: 1rem;
    }
}
