.list {
    display: flex;
    margin-top: 1rem;
}

.list button,
.list a {
    margin-right: 2rem;
    font-size: 1.2rem;
    background: none;
    border: none;
    outline: none;
    color: var(--gray-03);
}

.list button:hover,
.list a:hover {
    text-decoration: underline;
}
