.btn {
  margin-top: 20px;
}

.btn :global(.btn:nth-last-child(1)) {
  margin-left: 10px;
}

.input {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #6d6d6d;
  border-radius: 8px;
}
