.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
    min-width: 80rem;
    margin: 0 auto;
    padding-left: 1rem;
}

.text {
    width: 55%;
    min-width: 80rem;
    margin: 4rem auto 1rem;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.link {
    display: block;
}

.link svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 2rem;
    fill: #666;
    transition: 0.3s ease-in-out;
}

.link svg:hover {
    fill: #007bff;
}

@media (max-width: 1000px) {
    .list,
    .text {
        width: 90%;
        min-width: unset;
    }
}