.ql-toolbar.ql-snow {
  font-family: 'Roboto', sans-serif;
}

.ql-snow .ql-editor h2 {
  font-size: 2.5rem;
  margin-top: 40px;
  margin-bottom: 30px;
}

.ql-snow .ql-editor h3 {
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.ql-snow .ql-editor h4 {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ql-snow .ql-editor h5 {
  margin-top: 30px;
  padding-bottom: 6px;
  font-weight: 400;
  font-size: 1rem;
  border-bottom: 1px solid #a3a3a3;
}

.ql-snow .ql-editor a {
  text-decoration: underline;
}

.ql-editor p {
  margin-top: 16px;
  font-size: 1rem;
}

.ql-snow .ql-editor blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 15px;
  padding-left: 16px;
  font-size: 1rem;
}

.ql-container.ql-snow {
  border: none;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in-out;
}

.ql-container.ql-snow:hover,
.ql-container.ql-snow:focus {
  background: rgb(250, 250, 250);
  border-bottom: 2px solid rgba(38, 143, 255, 0.5);
}

.ql-editor.ql-blank::before {
  font-style: unset;
  font-weight: 400;
  font-size: 0.8rem;
  color: #888888;
}
