.ql-toolbar.ql-snow {
    font-family: 'Roboto', sans-serif;
}

.ql-snow .ql-editor h2 {
    margin: 0 10%;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.ql-snow .ql-editor h3 {
    margin: 0 10%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.ql-snow .ql-editor h4 {
    margin: 0 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.ql-snow .ql-editor h5 {
    margin: 0 10%;
    margin-top: 30px;
    padding-bottom: 6px;
    font-size: 1.15rem;
    border-bottom: 1px solid #a3a3a3;
}

.ql-snow .ql-editor a {
    text-decoration: underline;
}

.ql-editor p {
    margin-top: 16px;
    padding: 0 10%;
	font-size: 1rem;
	line-height: 1.4;
}

.ql-snow .ql-editor blockquote {
	margin: 0 10%;
    margin-bottom: 5px;
    margin-top: 15px;
	padding-left: 16px;
	line-height: 1.4;
    font-size: 1rem;
    border-left: 4px solid #ccc;
}

.ql-container.ql-snow {
    border: none;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
}

.ql-container.ql-snow:hover,
.ql-container.ql-snow:focus {
    background: rgb(250, 250, 250);
    border-bottom: 2px solid rgba(38, 143, 255, 0.5);
}

.ql-editor {
    padding-top: 30px;
    padding-bottom: 40px;
}

.ql-editor.ql-blank::before {
    padding: 0 10%;
    font-style: unset;
    font-weight: 400;
    font-size: 0.8rem;
    color: #888888;
}

.ql-editor ol,
.ql-editor ul {
    margin: 0 10%;
    margin-top: 30px;
    padding: 0;
}

.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
    padding-bottom: 15px;
	font-size: 1rem;
	line-height: 1.4;
}

.ql-editor li:not(.ql-direction-rtl)::before {
    text-align: left;
}

.ql-snow .ql-editor img {
	position: relative;
	left: -10%;
    max-width: 120%;
    width: 120%;
}

.ql-snow .ql-editor pre.ql-syntax {
	margin: 20px 10%;
	padding: 20px;
	line-height: 1.4;
}