.footer {
    margin-top: 8rem;
    padding: 20rem 0 6rem;
    background: var(--black);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.inner {
    width: 50%;
}

.logo {
    width: 50%;
}

.text {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--gray-02);
}

@media (max-width: 768px) {
    .container {
        padding: 0 2rem;
        flex-direction: column-reverse;
    }

    .inner {
        width: 100%;
    }

    .logo {
        width: 100%;
    }
}
