.container {
    position: relative;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    transition: 0.3s ease-in-out;
}

.container:hover {
    color: var(--blue-01);
}

.container svg {
    height: 1.2rem;
    width: 1.2rem;
}

.text {
    padding-left: 1rem;
}

.input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.wrp {
    position: relative;
    width: 15rem;
    margin-bottom: 2rem;
}

.wrp::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: var(--radius);
    opacity: 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.wrp:hover::before {
    opacity: 1;
}

.close {
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.wrp:hover .close {
    opacity: 1;
}

.close::before,
.close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 0.2rem;
    background: var(--white);
}

.close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
    transform: translate(-50%, -50%) rotate(135deg);
}

.wrp img {
    width: 100%;
    height: auto;
    border-radius: var(--radius);
}
