.container {
    width: 50%;
    min-width: 80rem;
    margin: 4rem auto 3rem;
}

.title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.sep {
    height: 2rem;
}

.auth {
    padding: 2rem 3rem;
    border-radius: var(--radius);
    font-weight: 600;
    font-size: 1.6rem;
    background: var(--gray-02);
}

.auth a {
    color: var(--blue-01);
}

.auth a:hover,
.auth a:focus {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
        min-width: unset;
    }
}
