.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    max-width: 90%;
    margin: 0 auto;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.input_wrp {
    position: relative;
    margin-right: 1rem;
}

.reset {
    position: absolute;
    top: 50%;
    right: 0.3rem;
    height: 3rem;
    width: 3rem;
    transform: translateY(-50%);
    background: none;
    font-weight: 600;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.reset:hover,
.reset:focus {
    box-shadow: 0 0 0 0.3rem rgba(115, 138, 156, 0.4);
}

.input {
    display: block;
    width: 50rem;
    padding: 0.7rem;
    font-size: 1.4rem;
    background: none;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    background: #efefef;
    transition: 0.3s ease-in-out;
}

.input:hover,
.input:focus {
    background: #dedede;
}

@media (max-width: 750px) {
    .inner {
        width: 100%;
    }

    .label {
        width: 70%;
    }

    .input {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .form {
        min-height: 15rem;
    }
}
