.quill {
    overflow: hidden;
}

.quill .ql-container.ql-snow .ql-post {
    padding: 0;
}

.quill .ql-container.ql-post-container.ql-snow {
    background: none;
}

.quill .ql-container.ql-post-container.ql-snow:hover {
    background: none;
}

.ql-snow .ql-post a:hover {
    background: #eee;
}

@media (max-width: 690px) {
    .quill .ql-container.ql-snow .ql-editor p {
        font-size: 1.6rem;
    }

    .quill .ql-container.ql-snow .ql-editor h2 {
        margin: 1.4rem 0 1rem;
        font-size: 3rem;
    }

    .quill .ql-container.ql-snow .ql-editor h3 {
        margin-top: 1rem 0 0.6rem;
        font-size: 2.4rem;
    }

    .quill .ql-container.ql-snow .ql-editor h4 {
        font-size: 2rem;
    }

    .quill .ql-container.ql-snow .ql-editor h5 {
        font-size: 1.6rem;
    }

    .quill .ql-container.ql-snow .ql-editor pre,
    .quill .ql-container.ql-snow .ql-editor li,
    .quill .ql-container.ql-snow .ql-editor p {
        font-size: 1.4rem;
        line-height: 1.4;
    }
}
