.input {
    display: block;
    min-height: 4.4rem;
    width: 50%;
    min-width: 80rem;
    margin: 0 auto 3rem;
    padding: 1.6rem 1rem;
    background: none;
    outline: none;
    border-radius: var(--radius);
    background: var(--gray-02);
    transition: 0.3s ease-in-out;
    border: 0.1rem solid var(--gray-03);
}

.input:hover,
.input:focus {
    border: 0.1rem solid var(--blue-01);
    box-shadow: var(--box-shadow);
}

.input.empty {
    background: var(--gray-02);
}

.input:hover,
.input:focus {
    background: var(--gray-02);
}

@media (max-width: 1000px) {
    .input {
        width: 90%;
        min-width: unset;
    }
}
