*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #414141;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

picture,
img {
  display: block;
}

img {
  width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
