.container {
    margin: 10rem 0 5rem;
}

.container .btn {
    display: block;
    width: max-content;
    margin: 0 auto;
    padding: 0.6rem 4rem;
}

@media (max-width: 900px) {
    .container {
        margin: 0 0 5rem;
    }
}
