.list {
    display: flex;
    margin-top: 1rem;
}

.list button,
.list a {
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    background: none;
    border: none;
    outline: none;
    color: #999;
}

.list button:hover,
.list a:hover {
    text-decoration: underline;
}
