.content {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
}

.img {
    width: 80%;
    height: 90rem;
    object-fit: cover;
    border-radius: 0 var(--radius) var(--radius) 0;
}

.inner {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(10rem);
    z-index: 2;
    width: 45rem;
    height: max-content;
    padding: 5rem 3rem;
    background: var(--white);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow-01);
}

.title {
    margin-bottom: 3rem;
    font-size: 3rem;
    line-height: 1.2;
}

.text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.inner kbd {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.2rem 1rem;
    background: var(--black);
    color: var(--white);
    border-radius: var(--radius);
    font-size: 1.6rem;
}

.text a {
    padding: 0.2rem 0.5rem;
    border-radius: var(--radius);
    text-decoration: underline;
}

.text a:hover {
    text-decoration: none;
    background: var(--gray-02);
}

@media (max-width: 1000px) {
    .content {
        width: 98%;
    }

    .inner {
        transform: translateY(-50%);
        right: 1rem;
        width: 40rem;
    }
}

@media (max-width: 470px) {
    .content {
        width: 98%;
    }

    .inner {
        right: 3rem;
        width: 34rem;
    }

    .img {
        height: 95rem;
    }
}
