.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
}

.link {
    position: relative;
    display: block;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.list :global(.btn) {
    margin-left: 1.4rem;
}

.active::before {
    width: 70%;
}

.btn_wrp {
    display: flex;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #eeeeee;
    color: #414141;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
    box-shadow: 0 0 0 0.3rem rgba(115, 138, 156, 0.4);
}

.btn svg {
    height: 1.2rem;
    width: 1.2rem;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 8;
}

.mobileMenu {
    display: none;
}

/* media rules */
@media (max-width: 768px) {
    .nav {
        position: relative;
        height: 8rem;
    }

    .list {
        position: fixed;
        top: 9rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        width: 90%;
        flex-direction: column;
        padding: 3rem;
        background: rgb(255, 255, 255);
        border: 0.1rem solid #b6b6b6;
        border-radius: 1rem;
    }

    .link {
        display: block;
        padding: 0;
        margin: 1.4rem 0;
        font-size: 1.4rem;
        line-height: 1.4;
        background: none;
        border: none;
        color: rgb(61, 61, 61);
        outline: none;
    }

    .mobileMenu {
        display: block;
        position: relative;
        height: 7rem;
        width: 8rem;
        margin-left: -2.5rem;
        border: none;
        background-color: transparent;
    }

    .mobileMenu span {
        position: absolute;
        top: 2.9rem;
        left: 50%;
        transform: translateX(-50%);
        width: 2.8rem;
        height: 0.2rem;
        background: #a5a5a5;
        transition: 0.2s ease-in-out;
    }

    .mobileMenu span:nth-of-type(2) {
        top: unset;
        bottom: 2.9rem;
    }

    .mobileMenu:hover span {
        top: 3.1rem;
    }

    .mobileMenu:hover span:nth-of-type(2) {
        top: unset;
        bottom: 3.1rem;
    }
}
