.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 1rem;
}

.content {
    width: 100%;
    padding: 5rem;
    background: rgb(250, 250, 250);
}

.auth {
    padding: 5rem 15%;
}

.title {
    margin: 2rem 0 4rem;
    font-size: 6rem;
    line-height: 1;
}

@media (max-width: 1200px) {
    .auth {
        padding: 5rem 10%;
    }
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
    }

    .content {
        margin-top: 0;
    }

    .auth {
        padding: 5rem 5%;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 0;
        background: #ffffff;
    }
}

@media (max-width: 550px) {
    .title {
        font-size: 5rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: 4rem;
    }
}
