.modal {
    position: relative;
    width: 90%;
    max-width: 90rem;
    max-height: 95vh;
    padding: 3rem 0;
    border-radius: var(--radius);
    background: var(--white);
    border: 0.1rem solid var(--gray-03);
    text-align: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    padding: 1rem 1.3rem;
    background: none;
    border: none;
    font-size: 1.6rem;
}

.close svg {
    height: 1.6rem;
    width: 1.6rem;
}

.close:hover,
.close:focus {
    box-shadow: none;
}

.list {
    margin-left: 0;
    margin-bottom: 3rem;
    padding: 0.3rem;
    overflow: auto;
    height: calc(100% - 9.2rem);
}

.scroll {
    display: flex;
    justify-content: center;
    grid-gap: 3rem;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    text-align: left;
}

/*search*/
.search {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0 4rem;
}
.wrp {
    position: relative;
    max-width: 60rem;
    width: 100%;
}

.input {
    min-height: 4.4rem;
    width: 100%;
    margin-right: 1rem;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: var(--radius);
    border: none;
    background: var(--gray-02);
}

.reset {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    padding: 0 2rem;
    font-size: 1rem;
    background: none;
    border: none;
}

.btn {
    height: 100%;
    padding: 1.4rem 3rem;
    margin-left: 1rem;
    border-radius: var(--radius);
    background: var(--blue-01);
    color: var(--white);
    border: none;
}

.btn svg,
.reset svg {
    height: 1.2rem;
    width: 1.2rem;
}

@media (max-width: 1200px) {
    .search {
        max-width: 90%;
        margin: 3.5rem auto 4rem;
    }
}

@media (max-width: 500px) {
    .list {
        margin-left: 1rem;
    }

    .scroll {
        justify-content: space-between;
        grid-gap: 3rem 0;
    }
}
