.list {
  display: flex;
  margin-left: -5rem;
  width: auto;
}

.column {
  padding-left: 5rem;
  background-clip: padding-box;
}

.wrp {
  list-style: none;
  margin-bottom: 5rem;
  transition: 0.3s ease-in-out;
  border-radius: 1rem;
}

@keyframes loader {
  0% {
    background-color: #d3d2d2;
  }

  50% {
    background-color: #eeeeee;
  }
}

/* === content === */
.img {
  height: 35rem;
  border-radius: 1rem;
  background-color: #d3d2d2;
  animation: loader 2s ease-in-out infinite;
}

.text span {
  display: block;
  width: 100%;
  height: 3rem;
  margin: 1rem 0;
  border-radius: 1rem;
  background-color: #d3d2d2;
  animation: loader 2s ease-in-out infinite;
}

.text span:nth-of-type(3) {
  width: 45%;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.user .text {
  width: 70%;
}

.avatar {
  height: 10rem;
  width: 10rem;
  margin-right: 2rem;
  border-radius: 50%;
  background-color: #d3d2d2;
  animation: loader 2s ease-in-out infinite;
}

/* media rules */
@media (max-width: 1300px) {
  .wrp {
    margin-left: -3rem;
  }

  .column {
    padding-left: 3rem;
  }
}

@media (max-width: 900px) {
  .wrp {
    margin-bottom: 2rem;
  }
}

@media (max-width: 580px) {
  .wrp {
    margin-bottom: 5rem;
  }
}
