.img {
    height: 18rem;
    width: 18rem;
    margin: 0 auto 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.name,
.nick {
    font-size: 1.4rem;
    text-align: center;
}

.nick {
    color: #3273dc;
}

.name:hover,
.nick:hover {
    text-decoration: underline;
}

.text {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.text:nth-last-of-type(1) {
    margin-top: 1rem;
    font-size: 1.4rem;
}
