.container {
    position: relative;
    display: flex;
    align-items: center;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.6);
}

.icon {
    margin-left: 1rem;
}

.wrp {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 5.5rem;
    background: none;
    border: none;
    outline: none;
}

.btn:hover,
.btn:focus {
    box-shadow: var(--box-shadow);
}

.wrp:hover .avatar,
.wrp:focus .avatar {
    box-shadow: var(--box-shadow);
}

.modal {
    position: fixed;
    top: 8rem;
    right: 4rem;
    z-index: 10000;
    min-width: 25rem;
    padding: 4rem;
    background: var(--white);
    border: 0.1rem solid var(--gray-02);
    border-radius: var(--radius);
}

.news {
    right: 7rem;
    min-width: 60rem;
}

.nothing {
    font-size: 1.4rem;
}

.name {
    margin: 0;
    width: max-content;
    font-size: 1.8rem;
}

.nick {
    display: block;
    margin-bottom: 2rem;
    padding-bottom: 0.8rem;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid var(--gray-02);
    color: var(--blue-01);
}

.link {
    display: block;
    padding: 0;
    margin: 0 0 1.4rem;
    font-size: 1.4rem;
    line-height: 1.4;
    background: none;
    border: none;
    color: var(--gray-03);
    outline: none;
}

.link:hover,
.link:focus {
    box-shadow: none;
    text-decoration: underline;
    color: var(--blue-01);
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 1rem;
    border-radius: var(--radius);
    background: none;
    color: var(--blue-01);
    transition: 0.3s ease-in-out;
    outline: none;
}

.wrp svg,
.btn svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--gray-03);
}

.num {
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
    padding: 0.1rem 0.4rem;
    background: var(--red-01);
    border-radius: var(--radius);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    .news {
        right: 0;
        min-width: unset;
        width: 95vw;
    }

    .wrp {
        margin: 0 2rem;
        padding: 0.6rem;
        height: 5.5rem;
    }
}

@media (max-width: 550px) {
    .news {
        width: 90vw;
        padding: 4rem 2rem;
    }

    .modal {
        right: 2rem;
    }

    .link {
        font-size: 1.6rem;
    }

    .name {
        font-size: 2rem;
        font-weight: 400;
    }

    .nick {
        font-size: 1.8rem;
    }
}
