.container {
    position: relative;
    display: flex;
    align-items: center;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.6);
}

.icon {
    margin-left: 1rem;
}

.wrp {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    background: none;
    border: none;
    outline: none;
}

.btn:hover,
.btn:focus {
    box-shadow: 0 0 0 0.3rem rgba(115, 138, 156, 0.4);
}

.wrp:hover .avatar,
.wrp:focus .avatar {
    box-shadow: 0 0 0 0.3rem #add9ff;
}

.modal {
    position: fixed;
    top: 8rem;
    right: 4rem;
    z-index: 10000;
    min-width: 25rem;
    padding: 4rem;
    background: rgb(255, 255, 255);
    border: 0.1rem solid #b6b6b6;
    border-radius: 1rem;
}

.news {
    right: 7rem;
    min-width: 60rem;
}

.nothing {
    font-size: 1.4rem;
}

.name {
    margin: 0;
    width: max-content;
    font-size: 1.8rem;
}

.nick {
    display: block;
    margin-bottom: 2rem;
    padding-bottom: 0.8rem;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid #b6b6b6;
}

.link {
    display: block;
    padding: 0;
    margin: 0 0 1.4rem;
    font-size: 1.4rem;
    line-height: 1.4;
    background: none;
    border: none;
    color: rgb(61, 61, 61);
    outline: none;
}

.link:hover,
.link:focus {
    box-shadow: none;
    text-decoration: underline;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1rem;
    background-color: #eeeeee;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: rgb(104, 104, 104);
    transition: 0.3s ease-in-out;
    outline: none;
}

.wrp svg,
.btn svg {
    height: 1.2rem;
    width: 1.2rem;
    fill: rgb(104, 104, 104);
}

.num {
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
    padding: 0.1rem 0.4rem;
    background: rgb(218, 95, 95);
    border-radius: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width: 706px) {
    .news {
        right: 0;
        min-width: unset;
        width: 95vw;
    }
}

@media (max-width: 550px) {
    .news {
        width: 90vw;
        padding: 4rem 2rem;
    }

    .modal {
        right: 2rem;
    }
}
