.notif {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.icon {
    width: 3.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
    color: var(--red-01);
}

.wrp {
    width: 100%;
}

.wrp span {
    font-size: 1.6rem;
}

.user {
    font-size: 1.6rem;
    font-weight: 600;
}

.user:focus,
.user:hover {
    text-decoration: underline;
}

.title {
    display: block;
    font-size: 1.2rem;
}

.title:focus,
.title:hover {
    text-decoration: underline;
}
