.content {
    width: 100%;
    padding: 5rem 15%;
    background: var(--gray-01);
}

.title {
    margin-bottom: 3rem;
    font-size: 3rem;
}

.total {
    font-size: 1.4rem;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: var(--gray-02);
    border-radius: var(--radius);
}

.empty img {
    height: 10rem;
    width: 10rem;
}

.empty p {
    width: 25rem;
    margin: 2rem 0;
    font-size: 1.4rem;
    text-align: center;
}

@media (max-width: 1200px) {
    .content {
        padding: 5rem 10%;
    }
}

@media (max-width: 850px) {
    .content {
        padding: 5rem 5%;
    }
}
