.content {
    width: 100%;
    padding: 5rem 15%;
    background: rgb(250, 250, 250);
}

.title {
    margin-bottom: 3rem;
    font-size: 3rem;
}

.total {
    font-size: 1.4rem;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #eee;
    border-radius: 1rem;
}

.empty img {
    height: 10rem;
    width: 10rem;
}

.empty p {
    width: 25rem;
    margin: 2rem 0;
    font-size: 1.4rem;
    text-align: center;
}

@media (max-width: 1200px) {
    .content {
        padding: 5rem 10%;
    }
}

@media (max-width: 850px) {
    .content {
        padding: 5rem 5%;
    }
}
