.input {
  display: block;
  width: 100%;
  padding: 6px 10%;

  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  
  transition: 0.3s ease-in-out;
}

.input::placeholder {
  color: #a1a1a1;
}

.input:hover,
.input:focus {
  background: rgb(250, 250, 250);
  border-bottom: 2px solid rgba(38, 143, 255, 0.5);
}

