.modal {
    position: relative;
    width: 100%;
    max-width: 40rem;
    padding: 3rem;
    border-radius: var(--radius);
    background: var(--white);
    border: 0.1rem solid var(--gray-03);
    text-align: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    padding: 1rem 1.3rem;
    background: none;
    border: none;
    font-size: 1.6rem;
}

.close:hover,
.close:focus {
    box-shadow: none;
}

.modal .close svg {
    width: 1.6rem;
    height: 1.6rem;
}

.modal h4 {
    font-size: 2rem;
    color: var(--red-01);
}

.modal img {
    display: block;
    width: 7rem;
    margin: 0 auto 2rem;
}

.modal p {
    margin-top: 1rem;
    font-size: 1.4rem;
}
