.user {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.userInfo {
    display: block;
}

.nick {
    color: #3273dc;
}

.name:hover,
.nick:hover {
    text-decoration: underline;
}

.avatar {
    height: 6rem;
    width: 6rem;
    margin-right: 2rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.04), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.08);
}

@media (max-width: 450px) {
    .avatar {
        height: 4.5rem;
        width: 4.5rem;
    }
}
