.main:global(.separator) {
    margin-bottom: 1rem;
}

.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 80vh;
    margin-top: 1rem;
}

.banner {
    height: 40rem;
    width: 100%;
    margin-bottom: 6rem;
    border-radius: var(--radius);
}

.title {
    font-size: 2rem;
    line-height: 1;
    font-weight: 500;
}

.titleFlex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.margin {
    margin-bottom: 4rem;
}

.link {
    display: block;
    font-size: 1.4rem;
    color: var(--blue-01);
}

.link svg {
    height: 1.6rem;
    width: 1.6rem;
}

.link:hover {
    text-decoration: underline;
}

.content {
    width: 100%;
    padding: 5rem;
    background: var(--gray-01);
}

.subtitle {
    margin: 1rem 0;
    font-size: 1.6rem;
    font-weight: 500;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
}

.profiles a {
    margin-right: 0.5rem;
}

.empty {
    display: flex;
    width: 100%;
}

.btn {
    height: 4rem;
    width: 4rem;
    border-radius: var(--radius);
    background: var(--gray-02);
    border: none;
    transition: 0.3s ease-in-out;
}

.btn svg {
    height: 1.2rem;
    width: 1rem;
}

.inner {
    width: 46%;
    font-size: 1.6rem;
}

.desc {
    width: 100%;
    font-size: 1.6rem;
}

.desc a {
    padding: 0.2rem 0.5rem;
    text-decoration: underline;
}

.desc a:hover {
    padding: 0.2rem 0.5rem;
    background: var(--blue-01);
    border-radius: var(--radius);
    color: var(--white);
    text-decoration: none;
}

.auth {
    padding: 5rem 15%;
}

@media (max-width: 1200px) {
    .auth {
        padding: 5rem 10%;
    }

    .flex {
        margin: 0;
    }

    .inner {
        width: 100%;
        margin-bottom: 4rem;
    }
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
    }

    .content {
        margin-top: 0;
    }

    .auth {
        padding: 5rem 5%;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 0;
        background: var(--white);
    }
}

@media (max-width: 550px) {
    .title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: 2rem;
    }
}
