.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 80rem;
    margin: 6rem auto 2rem;
}

.btn {
    height: 5rem;
    padding: 1rem 4rem;
}

@media (max-width: 1000px) {
    .flex {
        width: 90%;
        min-width: unset;
    }
}
