.container {
    background: var(--gray-01);
}

.content {
    min-height: 100vh;
    margin: 0 auto;
    padding: 8rem 0;
}

.author {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.subtext,
.likes,
.likesHead,
.tags,
.title {
    display: block;
    width: 50%;
    min-width: 80rem;
    margin: 0 auto 3rem;
}

.manageFlex {
    display: flex;
}

.manage {
    display: flex;
    background: none;
    border: none;
    color: var(--blue-01);
    font-size: 1.4rem;
    margin-right: 2rem;
    cursor: pointer;
}

.manage svg {
    height: 1.6rem;
    width: 1.8rem;
    margin-right: 0.5rem;
}

.manage a,
.manage button {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    background: none;
    border: none;
    font-size: 1.4rem;
    line-height: 1;
}

.manage span {
    display: block;
    line-height: 1;
    margin-top: 0.2rem;
}

.manage:focus,
.manage:hover {
    box-shadow: none;
    text-decoration: underline;
}

.subtext {
    margin: 2rem auto 1rem;
    font-size: 1.2rem;
    color: var(--black);
}

.likesHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likesHead div {
    width: 50%;
}

.likesHead .likes {
    width: unset;
    min-width: unset;
    margin-bottom: 0;
}

.likesHead .subtext {
    width: unset;
    min-width: unset;
    margin: 0 auto 1rem;
}

.title {
    font-size: 5rem;
    line-height: 1.2;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin-right: 0.5rem;
    padding: 0.3rem 1rem;
    color: var(--blue-01);
    font-size: 1.5rem;
    background: var(--blue-02);
    border-radius: var(--radius);
    transition: 0.3s ease-in-out;
}

.tag:hover {
    background: var(--gray-01);
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.flex span {
    width: 50%;
}

.banner {
    position: relative;
    max-height: 66rem;
    width: 100%;
    object-fit: cover;
    margin: 8rem auto;
    background: var(--black);
}

@media (max-width: 1000px) {
    .subtext,
    .likes,
    .likesHead,
    .tags,
    .title {
        width: 90%;
        min-width: unset;
    }
}

@media (max-width: 690px) {
    .content {
        padding-top: 3rem;
    }

    .flex {
        flex-direction: column;
    }

    .flex span {
        width: 100%;
    }

    .likesHead {
        flex-direction: column;
        align-items: flex-end;
    }

    .tag {
        margin-bottom: 0.5rem;
    }

    .banner {
        height: 40rem;
        margin: 3rem auto;
    }

    .likesHead div {
        width: 100%;
    }

    .likesHead div:nth-of-type(1) {
        margin-bottom: 2rem;
    }

    .likesHead {
        margin-bottom: -4rem;
    }

    .title {
        font-size: 3rem;
    }
}
