.list {
    display: flex;
    font-size: 1.4rem;
}

.item {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
    color: var(--gray-03);
    transition: 0.3s ease-in-out;
}

.item svg {
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--gray-03);
}

.item:hover {
    color: var(--blue-01);
}

.dislike:hover {
    color: var(--red-01);
}

.active {
    color: var(--blue-01);
}

.dislike.active {
    color: var(--red-01);
}

.num {
    padding-left: 0.8rem;
}
