.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    max-width: 90%;
    margin: 0 auto;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

.submit {
    height: 4.5rem;
}

.input_wrp {
    position: relative;
    margin-right: 1rem;
}

.reset {
    position: absolute;
    top: 50%;
    right: 0;
    height: 100%;
    width: 5rem;
    transform: translateY(-50%);
    background: none;
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.reset svg {
    height: 1.2rem;
    width: 1.2rem;
}

.input {
    display: block;
    min-height: 4.4rem;
    width: 50rem;
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
    background: none;
    outline: none;
    border-radius: var(--radius);
    background: var(--gray-02);
    border: 0.1rem solid var(--gray-03);
    transition: 0.3s ease-in-out;
}

.input:hover,
.input:focus {
    background: var(--gray-01);
}

@media (max-width: 750px) {
    .inner {
        width: 100%;
    }

    .label {
        width: 70%;
    }

    .input {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .form {
        min-height: 15rem;
    }
}
