.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 80vh;
    margin-top: 1rem;
}

.content {
    width: calc(100% - 30rem);
    padding: 5rem;
    background: var(--gray-01);
}

.auth {
    padding: 5rem 15%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 4rem;
    font-size: 3rem;
    line-height: 1;
}

.subtitle {
    margin: 4rem 0 2rem;
    font-size: 1.8rem;
    line-height: 1;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin: 0 0.8rem 0.8rem 0;
    padding: 0.3rem 1rem;
    color: var(--blue-01);
    font-size: 1.5rem;
    background: var(--blue-02);
    border-radius: var(--radius);
    transition: 0.3s ease-in-out;
}

.tag:hover {
    background: var(--gray-01);
}

.viewAll {
    font-size: 1.6rem;
    color: var(--blue-01);
}

.viewAll:hover {
    text-decoration: underline;
}

.queue {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: left;
}

.queue:hover {
    color: var(--blue-01);
    text-decoration: underline;
}

.btn {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    background: var(--gray-02);
    border-radius: var(--radius);
    border: none;
    transition: 0.3s ease-in-out;
    box-shadow: var(--box-shadow-02);
    font-size: 1.6rem;
}

@media (max-width: 1200px) {
    .auth {
        padding: 5rem 10%;
    }
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
    }

    .content {
        margin-top: 0;
    }

    .auth {
        padding: 5rem 5%;
    }
}

@media (max-width: 900px) {
    .content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 0;
        background: var(--white);
    }

    .subtitle {
        margin: 3rem 0 2rem;
    }

    .queue {
        font-size: 1.6rem;
    }

    .viewAll {
        display: block;
        width: 100%;
        font-size: 1.6rem;
        text-align: left;
    }
}

@media (max-width: 550px) {
    .title {
        font-size: 5rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: 4rem;
    }
}
