.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 80vh;
    margin-top: 1rem;
}

.banner {
    position: relative;
    height: 40rem;
    width: 100%;
    border-radius: var(--radius);
    background: var(--gray-02);
    object-fit: cover;
}

.input {
    display: block;
    min-height: 4.4rem;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    background: none;
    outline: none;
    font-size: 1.4rem;
    border-radius: var(--radius);
    background: var(--gray-02);
    border: 0.1rem solid var(--gray-03);
    transition: none;
}

.delete {
    display: flex;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem;
    width: max-content;
    font-size: 1.4rem;
    background: none;
    border: none;
    color: var(--red-01);
}

.delete span {
    margin-top: 0.2rem;
}

.delete svg {
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 0.5rem;
}

.delete:focus,
.delete:hover {
    box-shadow: 0 0 0 0.2rem var(--red-02);
}

.empty {
    margin-bottom: 5rem;
}

.file {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.add {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: var(--radius);
    background: rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.add div {
    background: var(--black);
}

.file:hover ~ .add {
    background: rgba(0, 0, 0, 0.6);
}

.add p {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: var(--white);
}

.file:hover ~ .add div,
.file:focus ~ .add div {
    box-shadow: var(--box-shadow);
}

.content {
    width: 100%;
    padding: 5rem;
    background: var(--gray-01);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.title {
    margin: 1.5rem 0;
    font-size: 2rem;
    line-height: 1;
}

@media (max-width: 1200px) {
    .flex {
        margin: 0;
    }
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
    }

    .content {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 0;
        background: var(--white);
    }
}

@media (max-width: 550px) {
    .title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: 2rem;
    }
}
