.input {
    display: block;
    width: 45%;
    margin: 0 auto;
    padding: 1rem;
    background: none;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background: #efefef;
    transition: 0.3s ease-in-out;
}

.input:hover,
.input:focus {
    background: #dedede;
}
