.input {
    display: block;
    width: 45%;
    margin: 0 auto;
    padding: 1rem;
    background: none;
    outline: none;
    border: none;
    border-bottom: 0.2rem solid transparent;
    transition: 0.3s ease-in-out;
}

.input:hover,
.input:focus {
    background: #efefef;
    border-bottom: 0.2rem solid rgb(84, 84, 146);
}
