.list {
    display: flex;
    margin-left: -5rem;
    width: auto;
}

.column {
    padding-left: 5rem;
    background-clip: padding-box;
}

.card {
    position: relative;
    list-style: none;
    margin-bottom: 5rem;
    transition: 0.3s ease-in-out;
    border-radius: 0.5rem;
}

.postLink:hover .title {
    text-decoration: underline;
}

.inner {
    padding: 1.5rem 0;
}

.inner:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    flex-wrap: WRAP;
    padding-bottom: 0;
}

/* === content === */
.img {
    height: 32rem;
    border-radius: 0.5rem 0.5rem 0 0;
    object-fit: cover;
}

.title {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.text {
    width: 100%;
    font-size: 1.4rem;
}

.tags {
    padding: 1rem 0 0;
}

.tag {
    display: inline-block;
    font-size: 1.4rem;
    margin-right: 0.8rem;
    color: #3273dc;
}

.tag:hover {
    color: inherit;
}

.date {
    width: 100%;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    font-style: italic;
    color: #646464;
}

.manage {
    margin: 1rem 0;
}

.manage svg {
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 1rem;
}

.manage a,
.manage button {
    margin-right: 2rem;
    background: none;
    border: none;
    font-size: 1.4rem;
}

.manage a:hover,
.manage a:focus,
.manage button:hover,
.manage button:focus {
    box-shadow: none;
    text-decoration: underline;
}

/* media rules */
@media (max-width: 1300px) {
    .list {
        margin-left: -3rem;
    }

    .column {
        padding-left: 3rem;
    }
}

@media (max-width: 900px) {
    .card {
        margin-bottom: 2rem;
    }
}

@media (max-width: 580px) {
    .card {
        margin-bottom: 5rem;
    }
}
