.list {
    display: flex;
    margin-left: -5rem;
    width: auto;
}

.column {
    padding-left: 5rem;
    background-clip: padding-box;
}

.card {
    position: relative;
    list-style: none;
    margin-bottom: 5rem;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.3rem rgba(54, 39, 39, 0.02), 0 1rem 2rem rgba(0, 0, 0, 0.05);
}

.postLink:hover .title {
    text-decoration: underline;
}

.inner {
    padding: 3rem;
}

.tags {
    padding: 3rem 3rem 0;
}

.management {
    position: absolute;
    top: 0;
    right: 0;
}

.managementBtn {
    padding: 1.4rem 2rem 1.4rem 10rem;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: #6d7279;
}

.managementInner {
    position: absolute;
    bottom: 100%;
    right: 0;
    display: none;
    flex-direction: column;
    min-width: 15rem;
    padding: 1rem;
    background: #fff;
    border-radius: 1rem;
    border: 0.1rem solid #b6b6b6;
}

.managementInner button,
.managementInner a {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: left;
    background: none;
    border-radius: 1rem;
    border: none;
}

.managementInner button:hover,
.managementInner a:hover {
    background: #eee;
}

.management:hover .managementInner {
    display: flex;
}

.inner:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    flex-wrap: WRAP;
    padding-bottom: 0;
}

/* === content === */
.img {
    height: 35rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.title {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.text {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.tag {
    display: inline-block;
    font-size: 1.4rem;
    margin-right: 0.8rem;
    color: #3273dc;
}

.tag:hover {
    color: inherit;
}

.date {
    width: 100%;
    font-size: 1.4rem;
    font-style: italic;
    color: #646464;
}

.likes {
    padding: 2rem 3rem 0;
}

/* media rules */
@media (max-width: 1300px) {
    .list {
        margin-left: -3rem;
    }

    .column {
        padding-left: 3rem;
    }
}

@media (max-width: 900px) {
    .card {
        margin-bottom: 2rem;
    }
}

@media (max-width: 580px) {
    .card {
        margin-bottom: 5rem;
    }
}

@media (max-width: 768px) {
    .card {
        background: #fbfbfb;
        box-shadow: 0 0.1rem 0.3rem rgba(54, 39, 39, 0.04), 0 1rem 2rem rgba(0, 0, 0, 0.09);
    }
}
