.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    background: hsla(0, 0%, 100%, 0.4);
    backdrop-filter: blur(3px);
    transition: 0.3s ease-in-out;
}

.transform {
    transform: translateY(-100%);
    transition: 0.3s ease-in-out;
}

.scrolled {
    background: hsla(0, 0%, 100%, 0.4);
    backdrop-filter: blur(3px);
}
