.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    min-width: 80rem;
}

.link {
    display: block;
}

.link svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 2rem;
    fill: #666;
    transition: 0.3s ease-in-out;
}

.link svg:hover {
    fill: #007bff;
}

@media (max-width: 1000px) {
    .list {
        width: 100%;
        min-width: unset;
    }
}
