.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    min-width: 80rem;
}

.link,
.hover {
    display: block;
    color: inherit;
}

.link svg,
.hover svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 2rem;
    transition: 0.3s ease-in-out;
}

.hover svg:hover {
    fill: var(--blue-01) !important;
}

@media (max-width: 1000px) {
    .list {
        width: 100%;
        min-width: unset;
    }
}
