.avatar {
    height: 3.5rem;
    width: 3.5rem;
    object-fit: cover;
    border-radius: var(--radius);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    object-fit: cover;
    border-radius: var(--radius);
    color: var(--white);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.placeholder:hover,
.placeholder:focus {
    box-shadow: var(--box-shadow);
}
