*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    color: #414141;
    line-height: 1.5;
    margin-top: 7rem;
}

ul,
ol {
    list-style: none;
}

picture,
img {
    display: block;
}

img {
    width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea {
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
}

button:hover,
button:focus,
input:hover,
input:focus,
textarea:hover,
textarea:focus {
    box-shadow: 0 0 0 0.3rem rgba(115, 138, 156, 0.4);
}

@media (max-width: 400px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 1500px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 1900px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 2300px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 2700px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 3100px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 3500px) {
    html {
        font-size: 16px;
    }
}
