.btn {
    height: 3.5rem;
    padding: 0.6rem 3rem;
    background-color: #ffffff;
    border-radius: 1rem;
    border: none;
    font-weight: 700;
    font-size: 1.4rem;
    transition: 0.2s ease-in-out;
    outline: none;
}

.btn--blue {
    background-color: #4dacff;
    color: #ffffff;
}
.btn--blue:hover,
.btn--blue:focus {
    box-shadow: 0 0 0 0.3rem rgba(12, 112, 219, 0.4);
}

.btn--disabled {
    opacity: 0.9;
    cursor: no-drop;
}

.btn--gray {
    background-color: #eeeeee;
}
.btn--gray:hover,
.btn--gray:focus {
    box-shadow: 0 0 0 0.3rem rgba(115, 138, 156, 0.4);
}

.btn--light {
    background-color: #f8f9fa;
}
.btn--light:hover,
.btn--light:focus {
    box-shadow: 0 0 0 0.3rem rgba(216, 217, 219, 0.4);
}

.btn--info {
    background-color: #65b4c4;
    color: #ffffff;
}
.btn--info:hover,
.btn--info:focus {
    box-shadow: 0 0 0 0.3rem rgba(58, 176, 195, 0.4);
}

.add {
    position: relative;
    display: block;
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #000;
    transition: 0.2s ease-in-out;
}
.add:hover,
.add:focus {
    box-shadow: 0 0 0 0.4rem rgba(31, 31, 31, 0.3);
}

.add::before,
.add::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1.6rem;
    width: 0.2rem;
    background: #ffffff;
}

.add::before {
    transform: translate(-50%, -50%) rotate(90deg);
}
