.btn {
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 0.6rem 3rem;
    background-color: var(--white);
    border-radius: var(--radius);
    font-weight: 500;
    font-size: 1.4rem;
    transition: 0.2s ease-in-out;
    outline: none;
}

.btn:hover,
.btn:focus {
    box-shadow: var(--box-shadow);
}

.btn--blue {
    background-color: var(--blue-01);
    color: var(--white);
}

.btn--disabled {
    opacity: 0.9;
    cursor: no-drop;
}

.btn--gray {
    background-color: var(--gray-02);
    border: 0.1rem solid var(--gray-03);
}

.add {
    position: relative;
    display: block;
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    outline: none;
    background: var(--black);
    transition: 0.2s ease-in-out;
}
.add:hover,
.add:focus {
    box-shadow: var(--box-shadow);
}

.add::before,
.add::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1.6rem;
    width: 0.2rem;
    background: var(--white);
}

.add::before {
    transform: translate(-50%, -50%) rotate(90deg);
}

.delete {
    position: relative;
    display: block;
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    outline: none;
    background: var(--black);
    transition: 0.2s ease-in-out;
}
.delete:hover,
.delete:focus {
    box-shadow: var(--box-shadow);
}

.delete::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0.2rem;
    width: 1.6rem;
    background: var(--white);
}
