.date {
    width: 50%;
    min-width: 80rem;
    margin: 6rem auto 2rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: var(--black);
}

@media (max-width: 1000px) {
    .date {
        width: 90%;
        min-width: unset;
    }
}
