.list,
.text {
    width: 55%;
    min-width: 80rem;
    margin: 0 auto 2rem;
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.5rem;
}

.item {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.3rem 1rem;
    color: #007bff;
    font-size: 1.8rem;
    background: rgb(234, 244, 253);
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
}

.item:hover {
    background: rgb(206, 233, 255);
}

.text {
    margin-bottom: 2rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #444;
}

.input {
    font-size: 1.8rem;
    margin-top: 0;
}

@media (max-width: 1000px) {
    .list,
    .text {
        width: 90%;
        min-width: unset;
    }
}
