.input {
    display: block;
    width: 100%;
    margin: 3rem 0;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid rgba(129, 129, 129, 0.4);
    outline: none;
}

.input::placeholder {
    font-weight: 300;
    color: #a1a1a1;
}

.input:focus {
    border-bottom: 0.2rem solid rgba(38, 143, 255, 0.2);
    box-shadow: 0 .3rem 0 0 rgba(38, 143, 255, 0.5);
}

.text {
    width: 100%;
    margin-top: 3rem;
    font-weight: 300;
    font-size: 1.4rem;
}
