.wrp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    min-height: 60rem;
    background-size: cover;
}

.banner {
    height: 100%;
    width: 50%;
    object-fit: cover;
    margin-right: 10rem;
    border-radius: 0 1rem 1rem 0;
}

.inner {
    width: 300px;
}
